/* app css stylesheet */

h1 {
  padding-top: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

.container {
  max-width: 500px;
  background-color: #f7f7f7;
}

form {
  display: inherit;
  width: 100%;
}

.input-group {
  height: 56px;
}

.input-group .error {
  color: red;
  font-size: 11px;
}

.input-group-append .btn,
.input-group-prepend .btn {
  height: 56px;
}

.filter {
  padding-bottom: 80px;
  float: right;
}

.dropdown span {
  font-family: 'Roboto', sans-serif;
  padding-right: 10px;
}

.dropdown .dropdown-item {
  cursor: pointer;
}

.list-group {
  padding: 25px 0px 20px 0px;
}

li.list-group-item {
  height: 56px;
}

li.list-group-item:hover div{
  display: block;
}

.list-icons {
  display: none;
  float: right;
}

.list-icons i {
  cursor: pointer;
}

.list-icons i:first-child {
  padding-right: 10px;
}

.grey-icon {
  color: darkgrey;
}

.grey-icon:hover {
  color: grey;
}

.green-icon {
  color: mediumseagreen;
}

.green-icon:hover {
  color: seagreen;
}

.red-icon {
  color: #FF91A4;
}

.red-icon:hover {
  color: #ED2939;
}


@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

.strike {  
  text-decoration: line-through;
  animation: strike 1.5s linear;
  color: #7a7a7a;
}